.KdnImage{
    height: 60vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.KdnImage-left{
    flex: 1;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.KdnImage-left h2{
    padding-top: 20px;
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}

.KdnImage-left p{
    color: #171717;
    font-size: 40px;
    font-weight: 700;   
}

.KdnImage-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.KdnImage-hand-icon img{
    width: 105px;
}

.kdn-groceries-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.KdnImage-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}
@media(max-width:1280px){
    .KdnImage-left{
        padding-left: 100px;
    }
    .KdnImage-left h2{
        font-size: 22px;
    }
    .KdnImage-left p{
        font-size: 50px;
    }
    .Kdnimage-hand-icon img{
        width: 80px;
    }
    .kdn-groceries-btn{
        gap: 10px;
        width:250 ;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .KdnImage-right{
        width: 500px;
    }
}

@media(max-width:1024px){
    .KdnImage-left{
        padding-left: 80px;
    }
    .KdnImage-left h2{
        font-size: 20px;
    }
    .KdnImage-left p{
        font-size: 50px;
    }
    .Kdnimage-hand-icon img{
        width: 65px;
    }
    .kdn-groceries-btn{
        width:220 ;
        height: 50px;
        font-size: 16px;
    }
    .KdnImage-right{
        width: 400px;
    }
}
@media(max-width:800px){
    .KdnImage-left{
        padding-left: 30px;
    }
    .KdnImage-left h2{
        font-size: 16px;
    }
    .KdnImage-left p{
        font-size: 20px;
    }
    .Kdnimage-hand-icon img{
        width: 50px;
    }
    .kdn-groceries-btn{
        width:150px;
        height:40px;
        font-size: 13px;
    }
    .KdnImage-right{
        width: 300px;
    }
}
@media(max-width:500px){
    .KdnImage{
        flex-direction: column;
    }
    .KdnImage-right{
        display: none;
    }
    .KdnImage-left h2{
        font-size: 20px;
    }
    .KdnImage-left p{
        font-size: 30px;
    }
    .Kdnimage-hand-icon img{
        width: 55px;
    }
    .kdn-groceries-btn{
        width: 150px;
        height: 45px;
        font-size: 14px;
    }
}